<div class="homework">
<h1>Mi Hinata</h1>
<ul>
  <% @articles.each do |article|%>
    <li>
      <a class="enlaces" href="/articles<%=article.id%>"><%=article.title %></a>
    </li>
  <%end%>
</ul>
</div>
<div>
  <img class="image" src="https://www.wallpapertip.com/wmimgs/28-285120_naruto-hyuuga-hinata-uzumaki-naruto-wallpaper-naruto-dan.jpg" alt="endlyyo">
</div>




